.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 50px;
  border-bottom: 2px solid $fnt-color;
  height: 70px;
  color: $fnt-color;
  background: $bg-color;
  font-weight: 700;
  font-size: 32px;
}
